.head-container {
  height: 55px;
  background-color: #2874f0;
  display: flex;
}

.logo {
  width: 200px;
  padding: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}

.main-container {
  background-color: #f7f3f3;
  margin: 0px 8px;
}
.filter {
  float: left;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 20vw;
  margin: 5px;
  border: 0.3px solid rgb(206, 203, 203);
  box-shadow: 8px 5px 8px 8px #bbb9b9;
}
.filter-text1 {
  font-family: Roboto, Arial, sans-serif;
  color: black;
  font-weight: 500;
  margin: 10px;
  padding-top: 10px;
}

.best-deals-container {
  display: flex;
  flex-direction: row;
}
.main-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.text-description {
  color: rgb(14, 13, 13);
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
}
.text {
  color: rgb(14, 13, 13);
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  margin: 20px;
}
.bestdeals-container {
  background-color: #fff;
  margin: 0px 2px;
}
.box1 {
}
.box2 {
  color: #878787;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
}
.box3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
}
.offer {
  color: rgb(38, 165, 65);
}
.box1:hover {
  box-shadow: 8px 8px 8px 8px #999696;
}
.card-body:hover {
  transform: translate3d(0px, -36.5938px, 0px);
  position: relative;
  background: #fff;
  z-index: 2;
}
.explorediv {
  margin-left: 60px;
  font-size: 14px;
}
.exploretext {
  color: #ffe500;
  font-weight: 500;
}
.carousal-conatiner {
  float: right;
  margin-top: 5px;
  width: 80vw;
  height: 40vh;
}
.home-container {
  display: flex;
  flex-direction: column;
}
