.head{
    height: 55px;
    background-color: #2874f0;
    display: flex;
    justify-content: space-between;
}
.productsearch{
    height:40px;
     width: 250px; 
}

.badge{
    width: 200px;
    padding: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart{
    font-size: 18px; 
}
.navbox{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.filter{
    float: left;
    background-color: #fff;
    width: 20vw;
    margin: 5px;
}
.filter-text1{
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    margin:10px;
    padding-top: 10px;
}
.main-body{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.text{
  color: black;
  text-decoration: none;
  margin-left: 15px;
    
}
.product-img{
    width: 230px;
    height: 250px;
    padding: 10px;
}
.product-span{
    color: #878787;
    padding: 5px;
}
.box1{
    width: 23%;
    margin: 5px;
}
.box2{
    color: #878787;
    font-weight: 500;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;

}
.box3{
    font-family: Roboto,Arial,sans-serif; 
    font-size:14px;
    padding-bottom: 5px;

}
.offer{
    color: rgb(38, 165, 65);
}
.card.box1:hover{
    box-shadow: 8px 8px 8px 8px #999696
}
.card-body:hover{
    transform: translate3d(0px, -36.5938px, 0px);
    position: relative;
    background: #fff;
    z-index: 2;
}
.explorediv{
    margin-left: 60px;
    font-size: 14px;
}
.exploretext{
    color: #ffe500;
    font-weight: 500;
}